<div class="sidebar">
  <h3>Connect</h3>
  
  {% if site.instagram_username %}
    <p class="social-link">
      <a href="https://instagram.com/{{ site.instagram_username }}" target="_blank" rel="noopener noreferrer">
        Instagram: @{{ site.instagram_username }}
      </a>
    </p>
  {% endif %}

  {% if site.zotero_profile_id %}
    <p class="academic-link">
      <a href="https://www.zotero.org/{{ site.zotero_profile_id }}" target="_blank" rel="noopener noreferrer">
        Zotero Profile
      </a>
    </p>
  {% endif %}
</div>
